{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <article>

            <h2>{{fruit.name}}</h2>
            <h3>
                {% if fruit.readyToEat %}
                    Ripe and ready to eat
                {% else %}
                    Not ripe, wait to eat it
                {% endif %}
            </h3>
            <h4>Color: {{fruit.color}}</h4>
            <div class="btn-group">

                <a href="/fruits/{{fruit._id}}/edit" class="btn btn-primary">Edit Fruit</a>
                <form action="/fruits/{{fruit._id}}?_method=DELETE" method="POST">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </div>
        </article>
        <div class="col-md-6">
            <form action="/comments/{{fruit._id}}" method="POST">
                <fieldset>
                    <legend>Add comment</legend>
                    <label class="form-label">Comment: </label>
                    <input type="text" class="form-control" name="note" placeholder="Enter comment here"/>
                </fieldset>
                <input type="submit" class="btn btn-success" value="Add comment" />
            </form>
        </div>
        {% if fruit.comments.length > 0 %}
        <div class="container-sm justify-content-center">
            <div class="col-md-8 col-lg-6" >
                {% for comment in fruit.comments %}
                {% render '../comment.liquid' comment: comment, userId: userId, fruit: fruit, username: username%}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}